
@{
    ViewBag.Title = "请登录";
    Layout = "~/Areas/Admin/Views/Shared/View_botslayout.cshtml";
    var dbInfo = SysHelps.CheckDb();
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><p style="margin:50px 0">&nbsp;</p></div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @if (dbInfo.Message == "0")
            {
                <div class="panel panel-primary">
                    <div class="panel-heading ">请登录</div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="defaultForm">
                            <div class="form-group">
                                <label for="loginName" class="col-sm-2 control-label">登录名</label>
                                <div class="col-sm-10">

                                    <input type="text" class="form-control" name="loginName" placeholder="请输入登录名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="passWord" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-info" id="loginBtn" data-loading-text="请稍后" data-complete-text="验证成功...请稍后">登录</button>
                                    <button type="button" class="btn btn-default" id="loginResetBtn">清空</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else {
                <div class="panel panel-danger">
                    <div class="panel-heading ">出错啦</div>
                    <div class="panel-body">
                        @dbInfo.MessageDetail
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    $(document).ready(function () {

        toastr.options.positionClass = "toast-top-center";
        $('#loginResetBtn').click(function () {
            $('#defaultForm').data('bootstrapValidator').resetForm(true);
        });

        $('#defaultForm').bootstrapValidator({
            //        live: 'disabled',
            message: '数据验证未通过',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                loginName: {
                    validators: {
                        notEmpty: {
                            message: ''
                        },
                        stringLength: {
                            min: 5,
                            max: 30
                        },
                    }
                },
                passWord: {
                    validators: {
                        notEmpty: {
                            message: ''
                        },
                        stringLength: {
                            min: 6,
                            max: 20
                        },
                    }
                }
            }
        }).on("success.form.bv", function (e) {
            e.preventDefault();
            var $form = $(e.target);
            var d = $form.serializeObject();
            d.passWord = md5(d.passWord);
            d.device = window.navigator.userAgent;
            console.log(d);
            var btn = $("#loginBtn");
            btn.button('loading');
            $.post("/api/UserManager/login", d, function (json) {
                console.log(json);
                if (json.Message == "0") {
                    btn.button("complete");
                    window.location.href = "@Url.Action("index","Home")";
                }
                else {
                    toastr.error(json.MessageDetail);
                    btn.button("reset");
                }
            });
        });
    });
</script>
