@using monkey.service.WorkFlow;
@{
    ViewBag.Title = "工单流程图 - 历史审批记录 - 图形展示";
    Layout = "~/Areas/Admin/Views/Shared/View_gooflowlayout.cshtml";
    string pageId = ViewBag.pageId;
    var historyLineList = Model.GetApprovalHistoryLines();
    string histroyLines = JsonConvert.SerializeObject(historyLineList);
}
@model BaseWorkOrder

<script>
    $(function () {
        var defId = "@Model.WorkFlowDefinitionId";
        if (defId != "") {
            var width = $(document).width();
            var height = $(document).height();
            console.log(width + ":" + height);
            var property = {
                width: width,
                height: height,
                toolBtns: [],
                haveHead: true,
                headBtns: [],//如果haveHead=true，则定义HEAD区的按钮
                haveTool: false,
                haveGroup: true,
                useOperStack: true
            };
            var WorkFlowDef;
            WorkFlowDef = $.createGooFlow($("#@(pageId)WorkFlowDef"), property);

            //获取流程定义
            $.getJSON("/api/WorkFlowDefinition/GetWorkFlowDefinitionById/" + defId, function (json) {
                if (json.Message == 0) {
                    var defInfo = json.item.DictionaryUnits;
                    defInfo.title = json.item.Caption;
                    WorkFlowDef.$max = 9;

                    //处理nodes 的 type
                    $.each(defInfo.nodes, function (i, n) {
                        n.type = n.typeString;
                    });


                    var historyLines = $.parseJSON('@Html.Raw(histroyLines)');
                    console.log("历史记录信息");
                    console.log(historyLines);



                    console.log("流程图信息");
                    console.log(defInfo);

                    WorkFlowDef.loadData(defInfo);//流程图

                    window.setTimeout(function () {

                        //已经走过的流程进行着色
                        for (var i = 0; i < historyLines.length; i++) {
                            try {
                                var l = defInfo.lines[historyLines[i]];
                                if (l != null) {
                                    var n = defInfo.nodes[l.from];
                                    if (n != null) {
                                        WorkFlowDef.markItem(n.Id, "node", true);
                                        n.marked = true;
                                        console.log("标注节点:[" + n.Id + "]");
                                    }
                                    l.marked = true;
                                    console.log("标注线条:[" + l.Id + "]");
                                    //这方法有问题 暂时不用
                                    //WorkFlowDef.markItem(l.Id, "line", true);
                                    //直接将线条标注为红色
                                    var lineDom = $("#" + l.Id);
                                    lineDom[0].childNodes[1].setAttribute("stroke", "#ff3300");
                                    lineDom[0].childNodes[1].setAttribute("marker-end", "url(#arrow2)");
                                }
                            }
                            catch (e) {
                                console.log(e);
                            }
                        }

                    }, 300);


                }
                else {
                    $.messager.alert(getErrorTitle(json.Message), "错误提示：<br />" + json.MessageDetail, 'error');
                }
            });
        }
        else {
            $("#@(pageId)WorkFlowDef").html("<div style='text-align:center;padding-top:10px;'>工单未启动审批流程</div>");
        }
    });
</script>

<div id="@(pageId)WorkFlowDef"></div>

