<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 项目信息 -->
  <add key="projectName" value="HooHaMonkey" />
  <add key="projectDescribe" value="HooHaMonkey Project" />

  <!-- 默认的后台管理员ID-->
  <add key="defaultAdminId" value="7ef7c013-ffb5-4547-8059-2cef26ff39ab"/>
  <!-- 默认的后台用户密码 123456-->
  <add key="defaultAdminPassword" value="e10adc3949ba59abbe56e057f20f883e"/>
</appSettings>
