<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 项目信息 -->
  <add key="projectName" value="重构猴子" />
  <add key="projectDescribe" value="重构一个理想的项目框架" />
  
  <!-- 默认的后台用户密码 123456-->
  <add key="defaultAdminPassword" value="e10adc3949ba59abbe56e057f20f883e"/>
</appSettings>
