<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultContainer" connectionString="metadata=res://*/Db.Default.csdl|res://*/Db.Default.ssdl|res://*/Db.Default.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=monkey;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
