<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/Content/theme/metro/easyui.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/theme/icon.css" />
    <link href="~/Areas/Admin/Content/toastr.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/userStyle.css" type="text/css" rel="stylesheet"/>
    <link href="~/Areas/Admin/Scripts/gooflow/GooFlow/codebase/GooFlow.css" type="text/css" rel="stylesheet" />
    <link href="~/Areas/Admin/Scripts/gooflow/default.css" type="text/css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/jquery.easyui-1.4.3.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <script src="~/Areas/Admin/Scripts/gooflow/GooFunc.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/gooflow/GooFlow/codebase/GooFlow.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/toastr.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Scripts/userCode.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="easyui-layout" id="MainBodyLayout">
    @RenderBody()
</body>
</html>
