
@{
    ViewBag.Title = "workTab";
    Layout = "~/Areas/Admin/Views/Shared/View_easylayout.cshtml";
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
    </div>
</div>